player-connection-mode=Listen
player-connection-guid=2770712027
player-connection-debug=0
player-connection-wait-timeout=-1
player-connection-ip=172.22.197.225
player-connection-ip=10.0.75.1
player-connection-ip=10.0.0.245
profiler-enable-on-startup=1
gfx-enable-native-gfx-jobs=
wait-for-native-debugger=0
scripting-runtime-version=latest
vr-enabled=0
hdr-display-enabled=0
